body.db-setup-config {
  font-family: Arial, sans-serif;
  margin: 20px;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 20px;
    &[type="text"],
    &[type="password"] {
      width: 250px;
      padding: 5px;
    }
    &[type="submit"] {
      padding: 10px 20px;
      background-color: #4caf50;
      color: white;
      border: none;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}
