body {
  font-family: Arial, sans-serif;
}

h1.top-head {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  border: 1px solid #ccc;
  .title {
    font-weight: bold;
  }
  .expired {
    color: red;
  }
  .deadline {
    font-size: 0.9em;
  }
  .actions {
    margin-top: 5px;
  }
}

.add-task-form {
  input[type="text"],
  textarea,
  input[type="date"] {
    width: 700px;
  }
}
.delete-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.checkmark {
  margin-right: 5px;
}
